.footer {
    background: linear-gradient(to top, #5b255f, #602665, #65286b, #6a2971, #6f2a77, #722b7a, #742d7d, #772e80, #793080, #7a3181, #7c3381, #7d3482);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}